Kango_Konektor/Web References/poseidon/gvd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://kst.fri.uniza.sk/" xmlns:s1="http://kst.fri.uniza.sk" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://kst.fri.uniza.sk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;ZU-FRI-KST 2008, Webová služba, která vrací data z GVD&lt;/b&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://kst.fri.uniza.sk/">
      <s:import namespace="http://kst.fri.uniza.sk" />
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uzivatel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="heslo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType />
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="SelectProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zvoleny" type="tns:VSProject" />
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="tns:VSVlakFilter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VSProject">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Nazov" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Poznamka" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="KmenID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PlatnostOd" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="PlatnostDo" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="VSEntitaBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSVlakFilter">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Faza" type="tns:eVSVlakFaza" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="eVSVlakFaza">
        <s:restriction base="s:string">
          <s:enumeration value="Pozadavek_zkonstruovano" />
          <s:enumeration value="Zkonstruovano" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SelectProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SelectProjectResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjects">
        <s:complexType />
      </s:element>
      <s:element name="GetProjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectsResult" type="tns:ArrayOfVSProject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSProject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSProject" nillable="true" type="tns:VSProject" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetVlaky">
        <s:complexType />
      </s:element>
      <s:element name="GetVlakyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVlakyResult" type="tns:ArrayOfVSVlak" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSVlak">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSVlak" nillable="true" type="tns:VSVlak" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSVlak">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="NabidkovaCena" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="GvdVariantaID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Faza" type="tns:eVSVlakFaza" />
              <s:element minOccurs="1" maxOccurs="1" name="Cislo" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CisloLom" type="s:unsignedByte" />
              <s:element minOccurs="0" maxOccurs="1" name="Nazev" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DopravceID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="VlakUrceni" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="C_DrahaID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="EvidCisloKdc" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PlatnostOd" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="PlatnostDo" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Rezim" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTrasaBody">
        <s:complexType />
      </s:element>
      <s:element name="GetTrasaBodyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrasaBodyResult" type="tns:ArrayOfVSTrasaBod" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSTrasaBod">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSTrasaBod" nillable="true" type="tns:VSTrasaBod" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSTrasaBod">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AktCisloVlaku" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BodID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CasOdjazdu" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CasPrijazdu" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Colne" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="InyPobyt" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="KalendarID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="KalendarPobytNekdyID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="KalPP" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Kratka" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Manipulacia" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ManipulaciaPosta" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ManipulaciaZasielka" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="NacestnaTP" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ObsluhovaciVlak" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="OdjazdCasPrijazdu" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="OdjazdPoVystupe" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="OhlasD3Zrusena" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="OSA" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="PobytNiekedy" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="PobytPolMinuty" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Poradi" type="s:short" />
              <s:element minOccurs="1" maxOccurs="1" name="Posun" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Preprah" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="RelacnyVlak" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="RucniBrzda" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RusiaciVlak" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="SkuskaBrzdy" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SmerJizdy" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="StKolOdchodID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="StKolPrichodID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TrKolID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TypVlaku" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UvratHV" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UvratVlaku" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="VjazdNaObsKolaj" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="VjazdNaObsKolajVoz" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="VjazdNaObsKolajVozSuc" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="VlakID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="VlakIDS" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="VlakNDbezCasov" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="VlakNDsCasmi" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="VlakTab5" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="VychodziaTP" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="VylukaDS" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ZastavujeDoprDovody" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ZastavujeIbaNaNastup" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ZastavujeIbaNaVystup" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ZastavujeNaZnamenie" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ZvlastnyVlak" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTrasaSpecifikacie">
        <s:complexType />
      </s:element>
      <s:element name="GetTrasaSpecifikacieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrasaSpecifikacieResult" type="tns:ArrayOfVSTrasaSpecifikace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSTrasaSpecifikace">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSTrasaSpecifikace" nillable="true" type="tns:VSTrasaSpecifikace" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSTrasaSpecifikace">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="VlakID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodOdID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodDoID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="KalendarID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="RezimBrzda" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JazOdpor" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Hmotnost" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Dlzka" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Rychlost" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BrzdaPer" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTrasaHnacieVozidla">
        <s:complexType />
      </s:element>
      <s:element name="GetTrasaHnacieVozidlaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrasaHnacieVozidlaResult" type="tns:ArrayOfVSTrasaHnacieVozidlo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSTrasaHnacieVozidlo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSTrasaHnacieVozidlo" nillable="true" type="tns:VSTrasaHnacieVozidlo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSTrasaHnacieVozidlo">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodDoID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodOdID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Rada" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Funkce" type="s:unsignedByte" />
              <s:element minOccurs="1" maxOccurs="1" name="C_DrahaID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="KalendarID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="VlakID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTrasaDopravneDruhy">
        <s:complexType />
      </s:element>
      <s:element name="GetTrasaDopravneDruhyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrasaDopravneDruhyResult" type="tns:ArrayOfVSTrasaDruh" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSTrasaDruh">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSTrasaDruh" nillable="true" type="tns:VSTrasaDruh" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSTrasaDruh">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodDoID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodOdID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Druh" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="KalendarID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="VlakID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Kategorie" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTrasaKomercneDruhy">
        <s:complexType />
      </s:element>
      <s:element name="GetTrasaKomercneDruhyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrasaKomercneDruhyResult" type="tns:ArrayOfVSTrasaDruh" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDopravcov">
        <s:complexType />
      </s:element>
      <s:element name="GetDopravcovResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDopravcovResult" type="tns:ArrayOfVSDopravca" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSDopravca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSDopravca" nillable="true" type="tns:VSDopravca" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSDopravca">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cislo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Nazov" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Skratka" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="C_DrahaID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UICCislo" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetKalendare">
        <s:complexType />
      </s:element>
      <s:element name="GetKalendareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKalendareResult" type="tns:ArrayOfVSKalendar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSKalendar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSKalendar" nillable="true" type="tns:VSKalendar" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSKalendar">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PlatnostDo" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="PlatnostOd" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="BitMapa" type="s:base64Binary" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetObecnePoznamky">
        <s:complexType />
      </s:element>
      <s:element name="GetObecnePoznamkyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObecnePoznamkyResult" type="tns:ArrayOfVSObecnaPoznamka" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSObecnaPoznamka">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSObecnaPoznamka" nillable="true" type="tns:VSObecnaPoznamka" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSObecnaPoznamka">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Kod" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Poznamka" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTrasaDopravcov">
        <s:complexType />
      </s:element>
      <s:element name="GetTrasaDopravcovResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrasaDopravcovResult" type="tns:ArrayOfVSTrasaDopravca" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSTrasaDopravca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSTrasaDopravca" nillable="true" type="tns:VSTrasaDopravca" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSTrasaDopravca">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="VlakID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodOdID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodDoID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="KalendarID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DopravceID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTrasaPrestavenia">
        <s:complexType />
      </s:element>
      <s:element name="GetTrasaPrestaveniaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrasaPrestaveniaResult" type="tns:ArrayOfVSTrasaPrestavenie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSTrasaPrestavenie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSTrasaPrestavenie" nillable="true" type="tns:VSTrasaPrestavenie" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSTrasaPrestavenie">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Poradie" type="s:unsignedByte" />
              <s:element minOccurs="1" maxOccurs="1" name="Odjazd" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Prijazd" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="KolajID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="VlakID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTrasaObecPoznamky">
        <s:complexType />
      </s:element>
      <s:element name="GetTrasaObecPoznamkyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrasaObecPoznamkyResult" type="tns:ArrayOfVSTrasaObecPozn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSTrasaObecPozn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSTrasaObecPozn" nillable="true" type="tns:VSTrasaObecPozn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSTrasaObecPozn">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ObecnaPoznamkaID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="VlakID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodOdID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodDoID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="KalendarID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetDopravneBody">
        <s:complexType />
      </s:element>
      <s:element name="GetDopravneBodyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDopravneBodyResult" type="tns:ArrayOfVSDopravnyBod" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSDopravnyBod">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSDopravnyBod" nillable="true" type="tns:VSDopravnyBod" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSDopravnyBod">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="C_DrahaID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Cislo" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="Obvod" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="Nazov" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetDopravneUseky">
        <s:complexType />
      </s:element>
      <s:element name="GetDopravneUsekyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDopravneUsekyResult" type="tns:ArrayOfVSDopravnyUsek" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSDopravnyUsek">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSDopravnyUsek" nillable="true" type="tns:VSDopravnyUsek" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSDopravnyUsek">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DopravnyBod1ID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DopravnyBod2ID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Dlzka" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="Kategoria" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Kraj" type="s:unsignedByte" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetDrahy">
        <s:complexType />
      </s:element>
      <s:element name="GetDrahyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDrahyResult" type="tns:ArrayOfVSDraha" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSDraha">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSDraha" nillable="true" type="tns:VSDraha" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSDraha">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Kod" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="Popis" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetKolaje">
        <s:complexType />
      </s:element>
      <s:element name="GetKolajeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKolajeResult" type="tns:ArrayOfVSKolaj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSKolaj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSKolaj" nillable="true" type="tns:VSKolaj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSKolaj">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Cislo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Extra" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetObjednatele">
        <s:complexType />
      </s:element>
      <s:element name="GetObjednateleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjednateleResult" type="tns:ArrayOfVSObjednatel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSObjednatel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSObjednatel" nillable="true" type="tns:VSObjednatel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSObjednatel">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Nazov" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTrasaObjednatele">
        <s:complexType />
      </s:element>
      <s:element name="GetTrasaObjednateleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrasaObjednateleResult" type="tns:ArrayOfVSTrasaObjednatel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSTrasaObjednatel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSTrasaObjednatel" nillable="true" type="tns:VSTrasaObjednatel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSTrasaObjednatel">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="VlakID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodOdID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodDoID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="KalendarID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ObjednatelID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetDopravcePracoviste">
        <s:complexType />
      </s:element>
      <s:element name="GetDopravcePracovisteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDopravcePracovisteResult" type="tns:ArrayOfVSDopravcePracoviste" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSDopravcePracoviste">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSDopravcePracoviste" nillable="true" type="tns:VSDopravcePracoviste" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSDopravcePracoviste">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Typ" type="s:unsignedByte" />
              <s:element minOccurs="1" maxOccurs="1" name="Cislo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Nazov" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DopravceID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTrasaSoupisy">
        <s:complexType />
      </s:element>
      <s:element name="GetTrasaSoupisyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrasaSoupisyResult" type="tns:ArrayOfVSTrasaSoupis" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSTrasaSoupis">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSTrasaSoupis" nillable="true" type="tns:VSTrasaSoupis" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VSTrasaSoupis">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="VlakID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodOdID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TrasaBodDoID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="KalendarID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DopravcePracovisteID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetETDType">
        <s:complexType />
      </s:element>
      <s:element name="GetETDTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetETDTypeResult" type="tns:ArrayOfETDType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfETDType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ETDType" nillable="true" type="tns:ETDType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ETDType">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cislo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Nazov" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetETDKindOfTrain">
        <s:complexType />
      </s:element>
      <s:element name="GetETDKindOfTrainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetETDKindOfTrainResult" type="tns:ArrayOfETDKindOfTrain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfETDKindOfTrain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ETDKindOfTrain" nillable="true" type="tns:ETDKindOfTrain" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ETDKindOfTrain">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cislo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Oznaceni" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nazov" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetETDHDVFunction">
        <s:complexType />
      </s:element>
      <s:element name="GetETDHDVFunctionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetETDHDVFunctionResult" type="tns:ArrayOfETDHDVFunction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfETDHDVFunction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ETDHDVFunction" nillable="true" type="tns:ETDHDVFunction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ETDHDVFunction">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cislo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Nazov" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetETDBrakePercent">
        <s:complexType />
      </s:element>
      <s:element name="GetETDBrakePercentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetETDBrakePercentResult" type="tns:ArrayOfETDBrakePercent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfETDBrakePercent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ETDBrakePercent" nillable="true" type="tns:ETDBrakePercent" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ETDBrakePercent">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cislo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Nazov" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetETDWayBrakes">
        <s:complexType />
      </s:element>
      <s:element name="GetETDWayBrakesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetETDWayBrakesResult" type="tns:ArrayOfETDWayBrakes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfETDWayBrakes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ETDWayBrakes" nillable="true" type="tns:ETDWayBrakes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ETDWayBrakes">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cislo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Nazov" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetETDBrakePosition">
        <s:complexType />
      </s:element>
      <s:element name="GetETDBrakePositionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetETDBrakePositionResult" type="tns:ArrayOfETDBrakePosition" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfETDBrakePosition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ETDBrakePosition" nillable="true" type="tns:ETDBrakePosition" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ETDBrakePosition">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cislo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Oznaceni" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nazov" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetETDCable">
        <s:complexType />
      </s:element>
      <s:element name="GetETDCableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetETDCableResult" type="tns:ArrayOfETDCable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfETDCable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ETDCable" nillable="true" type="tns:ETDCable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ETDCable">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cislo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Oznaceni" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nazov" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetETDRollingResistance">
        <s:complexType />
      </s:element>
      <s:element name="GetETDRollingResistanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetETDRollingResistanceResult" type="tns:ArrayOfETDRollingResistance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfETDRollingResistance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ETDRollingResistance" nillable="true" type="tns:ETDRollingResistance" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ETDRollingResistance">
        <s:complexContent mixed="false">
          <s:extension base="tns:VSEntitaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cislo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Oznaceni" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nazov" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetETDVlak">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetETDVlakResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetETDVlakResult" type="tns:ArrayOfTrainType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTrainType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TrainType" nillable="true" type="s1:TrainType" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetETDVlaky">
        <s:complexType />
      </s:element>
      <s:element name="GetETDVlakyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetETDVlakyResult" type="tns:ArrayOfTrainType" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://kst.fri.uniza.sk">
      <s:complexType name="TrainType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TrainId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="TRIdent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Publisher" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="ValidityId" type="s1:Calendar" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:positiveInteger" />
          <s:element minOccurs="0" maxOccurs="1" name="Revision" type="s:positiveInteger" />
          <s:element minOccurs="1" maxOccurs="1" name="ReleaseDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeTable">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="TimeTableHeader" type="s1:TimeTableHeaderType" />
                <s:element minOccurs="0" maxOccurs="unbounded" name="Row" type="s1:TimeTableRowType" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Calendar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BitmapDays" type="s1:BitmapDaysType" />
          <s:element minOccurs="1" maxOccurs="1" name="ValidityFrom" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ValidityTo" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BitmapDaysType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Daily" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BitArray" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TimeTableHeaderType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TrainName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StartPoint" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EndPoint" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RegularDeparture" type="s:time" />
          <s:element minOccurs="1" maxOccurs="1" name="RegularArrival" type="s:time" />
          <s:element minOccurs="0" maxOccurs="1" name="TrainRouter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrainDetermination" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="TrainHeating" type="s1:TrainHeatingType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TrainHeatingType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FirstRowOrder" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LastRowOrder" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TimeTableRowType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RowHeader">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="RowOrder" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="Position" type="s:float" />
                <s:element minOccurs="0" maxOccurs="1" name="TrackCount" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="LineTrack" type="s1:LineTrack" />
                <s:element minOccurs="0" maxOccurs="1" name="TypeId" type="s:int" />
                <s:element minOccurs="0" maxOccurs="unbounded" name="KindOfTrain">
                  <s:complexType>
                    <s:sequence>
                      <s:element minOccurs="1" maxOccurs="1" name="KindOfTrainId" type="s:int" />
                      <s:element minOccurs="0" maxOccurs="1" name="BitmapDays" type="s1:BitmapDaysType" />
                    </s:sequence>
                  </s:complexType>
                </s:element>
                <s:element minOccurs="0" maxOccurs="1" name="TrainNumber" type="s:positiveInteger" />
                <s:element minOccurs="0" maxOccurs="1" name="RegularWeight" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="RegularLength" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="Interference">
                  <s:complexType>
                    <s:sequence>
                      <s:element minOccurs="1" maxOccurs="1" name="SymbolId" type="s:int" />
                      <s:element minOccurs="0" maxOccurs="unbounded" name="Note" type="s:string" />
                    </s:sequence>
                  </s:complexType>
                </s:element>
                <s:element minOccurs="1" maxOccurs="1" name="PP" type="s:boolean" />
                <s:element minOccurs="1" maxOccurs="1" name="D3" type="s:boolean" />
                <s:element minOccurs="1" maxOccurs="1" name="DrivingShift" type="s:boolean" />
                <s:element minOccurs="0" maxOccurs="unbounded" name="HDV">
                  <s:complexType>
                    <s:sequence>
                      <s:element minOccurs="1" maxOccurs="1" name="HDVClassId" type="s:int" />
                      <s:element minOccurs="1" maxOccurs="1" name="HDVFunctionId" type="s:int" />
                      <s:element minOccurs="0" maxOccurs="1" name="BitmapDays" type="s1:BitmapDaysType" />
                      <s:element minOccurs="1" maxOccurs="1" name="Tab4" type="s:boolean" />
                      <s:element minOccurs="0" maxOccurs="1" name="RollingResistanceId" type="s:int" />
                      <s:element minOccurs="0" maxOccurs="1" name="NormativeWeight" type="s:int" />
                    </s:sequence>
                  </s:complexType>
                </s:element>
                <s:element minOccurs="0" maxOccurs="1" name="BrakePercentId" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="WayBrakesId" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="BrakePositionId" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="CableId" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="TrainPath">
                  <s:complexType>
                    <s:sequence>
                      <s:element minOccurs="0" maxOccurs="unbounded" name="Track" type="s1:LineTrack" />
                      <s:element minOccurs="0" maxOccurs="unbounded" name="TrackConnection" type="s1:TrackConnection" />
                    </s:sequence>
                  </s:complexType>
                </s:element>
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Column1">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="SymbolBeforeId" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="TrafficPoint" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="TrafficPointNumberId" type="s:int" />
                <s:element minOccurs="0" maxOccurs="unbounded" name="SymbolAfterId" type="s:int" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Column2" type="s1:ArrayOfSymbolType" />
          <s:element minOccurs="0" maxOccurs="1" name="Column2a">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="Symbol" type="s1:SymbolType" />
                <s:element minOccurs="0" maxOccurs="1" name="StationTrackArrival" type="s1:Track" />
                <s:element minOccurs="0" maxOccurs="1" name="StationTrackDeparture" type="s1:Track" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Column3">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="TimeTravel" type="s:time" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Column5">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="Symbol" type="s1:SymbolType" />
                <s:element minOccurs="0" maxOccurs="1" name="TimeArrival" type="s:time" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Column6">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="SymbolId" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="TimeStay" type="s:time" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Column7">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s1:SymbolType" />
                <s:element minOccurs="0" maxOccurs="1" name="TimeDeparture" type="s:time" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Column8">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="TrainSpeed" type="s:int" />
                <s:element minOccurs="1" maxOccurs="1" name="BrakePercent1" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="BrakePercent2" type="s:int" />
                <s:element minOccurs="0" maxOccurs="unbounded" name="SymbolId" type="s:int" />
                <s:element minOccurs="0" maxOccurs="unbounded" name="Note8">
                  <s:complexType>
                    <s:sequence>
                      <s:element minOccurs="0" maxOccurs="1" name="Note1" type="s:string" />
                      <s:element minOccurs="0" maxOccurs="1" name="TrainSpeed" type="s:int" />
                      <s:element minOccurs="0" maxOccurs="1" name="BrakePercent1" type="s:int" />
                      <s:element minOccurs="0" maxOccurs="1" name="BrakePercent2" type="s:int" />
                      <s:element minOccurs="0" maxOccurs="1" name="Note2" type="s:string" />
                    </s:sequence>
                  </s:complexType>
                </s:element>
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Column10" type="s1:ArrayOfTimeTableRowTypeTrain" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LineTrack">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TrackId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TrackConnection">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Type">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:enumeration value="SS" />
                <s:enumeration value="TS" />
                <s:enumeration value="TT" />
              </s:restriction>
            </s:simpleType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSymbolType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Symbol" type="s1:SymbolType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SymbolType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SymbolId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Track">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TrackId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTimeTableRowTypeTrain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Train">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="TrainId" type="s:long" />
                <s:element minOccurs="0" maxOccurs="1" name="TrainNumber" type="s:positiveInteger" />
                <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="SelectProjectSoapIn">
    <wsdl:part name="parameters" element="tns:SelectProject" />
  </wsdl:message>
  <wsdl:message name="SelectProjectSoapOut">
    <wsdl:part name="parameters" element="tns:SelectProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjects" />
  </wsdl:message>
  <wsdl:message name="GetProjectsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="GetVlakySoapIn">
    <wsdl:part name="parameters" element="tns:GetVlaky" />
  </wsdl:message>
  <wsdl:message name="GetVlakySoapOut">
    <wsdl:part name="parameters" element="tns:GetVlakyResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrasaBodySoapIn">
    <wsdl:part name="parameters" element="tns:GetTrasaBody" />
  </wsdl:message>
  <wsdl:message name="GetTrasaBodySoapOut">
    <wsdl:part name="parameters" element="tns:GetTrasaBodyResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrasaSpecifikacieSoapIn">
    <wsdl:part name="parameters" element="tns:GetTrasaSpecifikacie" />
  </wsdl:message>
  <wsdl:message name="GetTrasaSpecifikacieSoapOut">
    <wsdl:part name="parameters" element="tns:GetTrasaSpecifikacieResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrasaHnacieVozidlaSoapIn">
    <wsdl:part name="parameters" element="tns:GetTrasaHnacieVozidla" />
  </wsdl:message>
  <wsdl:message name="GetTrasaHnacieVozidlaSoapOut">
    <wsdl:part name="parameters" element="tns:GetTrasaHnacieVozidlaResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrasaDopravneDruhySoapIn">
    <wsdl:part name="parameters" element="tns:GetTrasaDopravneDruhy" />
  </wsdl:message>
  <wsdl:message name="GetTrasaDopravneDruhySoapOut">
    <wsdl:part name="parameters" element="tns:GetTrasaDopravneDruhyResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrasaKomercneDruhySoapIn">
    <wsdl:part name="parameters" element="tns:GetTrasaKomercneDruhy" />
  </wsdl:message>
  <wsdl:message name="GetTrasaKomercneDruhySoapOut">
    <wsdl:part name="parameters" element="tns:GetTrasaKomercneDruhyResponse" />
  </wsdl:message>
  <wsdl:message name="GetDopravcovSoapIn">
    <wsdl:part name="parameters" element="tns:GetDopravcov" />
  </wsdl:message>
  <wsdl:message name="GetDopravcovSoapOut">
    <wsdl:part name="parameters" element="tns:GetDopravcovResponse" />
  </wsdl:message>
  <wsdl:message name="GetKalendareSoapIn">
    <wsdl:part name="parameters" element="tns:GetKalendare" />
  </wsdl:message>
  <wsdl:message name="GetKalendareSoapOut">
    <wsdl:part name="parameters" element="tns:GetKalendareResponse" />
  </wsdl:message>
  <wsdl:message name="GetObecnePoznamkySoapIn">
    <wsdl:part name="parameters" element="tns:GetObecnePoznamky" />
  </wsdl:message>
  <wsdl:message name="GetObecnePoznamkySoapOut">
    <wsdl:part name="parameters" element="tns:GetObecnePoznamkyResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrasaDopravcovSoapIn">
    <wsdl:part name="parameters" element="tns:GetTrasaDopravcov" />
  </wsdl:message>
  <wsdl:message name="GetTrasaDopravcovSoapOut">
    <wsdl:part name="parameters" element="tns:GetTrasaDopravcovResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrasaPrestaveniaSoapIn">
    <wsdl:part name="parameters" element="tns:GetTrasaPrestavenia" />
  </wsdl:message>
  <wsdl:message name="GetTrasaPrestaveniaSoapOut">
    <wsdl:part name="parameters" element="tns:GetTrasaPrestaveniaResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrasaObecPoznamkySoapIn">
    <wsdl:part name="parameters" element="tns:GetTrasaObecPoznamky" />
  </wsdl:message>
  <wsdl:message name="GetTrasaObecPoznamkySoapOut">
    <wsdl:part name="parameters" element="tns:GetTrasaObecPoznamkyResponse" />
  </wsdl:message>
  <wsdl:message name="GetDopravneBodySoapIn">
    <wsdl:part name="parameters" element="tns:GetDopravneBody" />
  </wsdl:message>
  <wsdl:message name="GetDopravneBodySoapOut">
    <wsdl:part name="parameters" element="tns:GetDopravneBodyResponse" />
  </wsdl:message>
  <wsdl:message name="GetDopravneUsekySoapIn">
    <wsdl:part name="parameters" element="tns:GetDopravneUseky" />
  </wsdl:message>
  <wsdl:message name="GetDopravneUsekySoapOut">
    <wsdl:part name="parameters" element="tns:GetDopravneUsekyResponse" />
  </wsdl:message>
  <wsdl:message name="GetDrahySoapIn">
    <wsdl:part name="parameters" element="tns:GetDrahy" />
  </wsdl:message>
  <wsdl:message name="GetDrahySoapOut">
    <wsdl:part name="parameters" element="tns:GetDrahyResponse" />
  </wsdl:message>
  <wsdl:message name="GetKolajeSoapIn">
    <wsdl:part name="parameters" element="tns:GetKolaje" />
  </wsdl:message>
  <wsdl:message name="GetKolajeSoapOut">
    <wsdl:part name="parameters" element="tns:GetKolajeResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjednateleSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjednatele" />
  </wsdl:message>
  <wsdl:message name="GetObjednateleSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjednateleResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrasaObjednateleSoapIn">
    <wsdl:part name="parameters" element="tns:GetTrasaObjednatele" />
  </wsdl:message>
  <wsdl:message name="GetTrasaObjednateleSoapOut">
    <wsdl:part name="parameters" element="tns:GetTrasaObjednateleResponse" />
  </wsdl:message>
  <wsdl:message name="GetDopravcePracovisteSoapIn">
    <wsdl:part name="parameters" element="tns:GetDopravcePracoviste" />
  </wsdl:message>
  <wsdl:message name="GetDopravcePracovisteSoapOut">
    <wsdl:part name="parameters" element="tns:GetDopravcePracovisteResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrasaSoupisySoapIn">
    <wsdl:part name="parameters" element="tns:GetTrasaSoupisy" />
  </wsdl:message>
  <wsdl:message name="GetTrasaSoupisySoapOut">
    <wsdl:part name="parameters" element="tns:GetTrasaSoupisyResponse" />
  </wsdl:message>
  <wsdl:message name="GetETDTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetETDType" />
  </wsdl:message>
  <wsdl:message name="GetETDTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetETDTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetETDKindOfTrainSoapIn">
    <wsdl:part name="parameters" element="tns:GetETDKindOfTrain" />
  </wsdl:message>
  <wsdl:message name="GetETDKindOfTrainSoapOut">
    <wsdl:part name="parameters" element="tns:GetETDKindOfTrainResponse" />
  </wsdl:message>
  <wsdl:message name="GetETDHDVFunctionSoapIn">
    <wsdl:part name="parameters" element="tns:GetETDHDVFunction" />
  </wsdl:message>
  <wsdl:message name="GetETDHDVFunctionSoapOut">
    <wsdl:part name="parameters" element="tns:GetETDHDVFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="GetETDBrakePercentSoapIn">
    <wsdl:part name="parameters" element="tns:GetETDBrakePercent" />
  </wsdl:message>
  <wsdl:message name="GetETDBrakePercentSoapOut">
    <wsdl:part name="parameters" element="tns:GetETDBrakePercentResponse" />
  </wsdl:message>
  <wsdl:message name="GetETDWayBrakesSoapIn">
    <wsdl:part name="parameters" element="tns:GetETDWayBrakes" />
  </wsdl:message>
  <wsdl:message name="GetETDWayBrakesSoapOut">
    <wsdl:part name="parameters" element="tns:GetETDWayBrakesResponse" />
  </wsdl:message>
  <wsdl:message name="GetETDBrakePositionSoapIn">
    <wsdl:part name="parameters" element="tns:GetETDBrakePosition" />
  </wsdl:message>
  <wsdl:message name="GetETDBrakePositionSoapOut">
    <wsdl:part name="parameters" element="tns:GetETDBrakePositionResponse" />
  </wsdl:message>
  <wsdl:message name="GetETDCableSoapIn">
    <wsdl:part name="parameters" element="tns:GetETDCable" />
  </wsdl:message>
  <wsdl:message name="GetETDCableSoapOut">
    <wsdl:part name="parameters" element="tns:GetETDCableResponse" />
  </wsdl:message>
  <wsdl:message name="GetETDRollingResistanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetETDRollingResistance" />
  </wsdl:message>
  <wsdl:message name="GetETDRollingResistanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetETDRollingResistanceResponse" />
  </wsdl:message>
  <wsdl:message name="GetETDVlakSoapIn">
    <wsdl:part name="parameters" element="tns:GetETDVlak" />
  </wsdl:message>
  <wsdl:message name="GetETDVlakSoapOut">
    <wsdl:part name="parameters" element="tns:GetETDVlakResponse" />
  </wsdl:message>
  <wsdl:message name="GetETDVlakySoapIn">
    <wsdl:part name="parameters" element="tns:GetETDVlaky" />
  </wsdl:message>
  <wsdl:message name="GetETDVlakySoapOut">
    <wsdl:part name="parameters" element="tns:GetETDVlakyResponse" />
  </wsdl:message>
  <wsdl:portType name="gvdSoap">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Prihlášení na server</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Odhlášení ze serveru</wsdl:documentation>
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectProject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Výběr projektu</wsdl:documentation>
      <wsdl:input message="tns:SelectProjectSoapIn" />
      <wsdl:output message="tns:SelectProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjects">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam projektů</wsdl:documentation>
      <wsdl:input message="tns:GetProjectsSoapIn" />
      <wsdl:output message="tns:GetProjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVlaky">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam vlaků podle filtru</wsdl:documentation>
      <wsdl:input message="tns:GetVlakySoapIn" />
      <wsdl:output message="tns:GetVlakySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrasaBody">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam bodů trasy vlaků podle filtru</wsdl:documentation>
      <wsdl:input message="tns:GetTrasaBodySoapIn" />
      <wsdl:output message="tns:GetTrasaBodySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrasaSpecifikacie">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam parametrů trasy vlaků podle filtru</wsdl:documentation>
      <wsdl:input message="tns:GetTrasaSpecifikacieSoapIn" />
      <wsdl:output message="tns:GetTrasaSpecifikacieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrasaHnacieVozidla">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam parametrů trasy vlaků podle filtru</wsdl:documentation>
      <wsdl:input message="tns:GetTrasaHnacieVozidlaSoapIn" />
      <wsdl:output message="tns:GetTrasaHnacieVozidlaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrasaDopravneDruhy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací dopravne druhy trasy podle filtru</wsdl:documentation>
      <wsdl:input message="tns:GetTrasaDopravneDruhySoapIn" />
      <wsdl:output message="tns:GetTrasaDopravneDruhySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrasaKomercneDruhy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací komercne druhy trasy podle filtru</wsdl:documentation>
      <wsdl:input message="tns:GetTrasaKomercneDruhySoapIn" />
      <wsdl:output message="tns:GetTrasaKomercneDruhySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDopravcov">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam dopravců</wsdl:documentation>
      <wsdl:input message="tns:GetDopravcovSoapIn" />
      <wsdl:output message="tns:GetDopravcovSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKalendare">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam kalendařů</wsdl:documentation>
      <wsdl:input message="tns:GetKalendareSoapIn" />
      <wsdl:output message="tns:GetKalendareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObecnePoznamky">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam tras obecnych poznamek</wsdl:documentation>
      <wsdl:input message="tns:GetObecnePoznamkySoapIn" />
      <wsdl:output message="tns:GetObecnePoznamkySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrasaDopravcov">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam tras dopravců podle filtru</wsdl:documentation>
      <wsdl:input message="tns:GetTrasaDopravcovSoapIn" />
      <wsdl:output message="tns:GetTrasaDopravcovSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrasaPrestavenia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam pobytů na kolejích v bodech trasy vlaků podle filtru</wsdl:documentation>
      <wsdl:input message="tns:GetTrasaPrestaveniaSoapIn" />
      <wsdl:output message="tns:GetTrasaPrestaveniaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrasaObecPoznamky">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam poznámek v bodech trasy vlaků podle filtru</wsdl:documentation>
      <wsdl:input message="tns:GetTrasaObecPoznamkySoapIn" />
      <wsdl:output message="tns:GetTrasaObecPoznamkySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDopravneBody">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam dopravnych bodov</wsdl:documentation>
      <wsdl:input message="tns:GetDopravneBodySoapIn" />
      <wsdl:output message="tns:GetDopravneBodySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDopravneUseky">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam dopravnych usekov</wsdl:documentation>
      <wsdl:input message="tns:GetDopravneUsekySoapIn" />
      <wsdl:output message="tns:GetDopravneUsekySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDrahy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam drah</wsdl:documentation>
      <wsdl:input message="tns:GetDrahySoapIn" />
      <wsdl:output message="tns:GetDrahySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKolaje">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam kolaji</wsdl:documentation>
      <wsdl:input message="tns:GetKolajeSoapIn" />
      <wsdl:output message="tns:GetKolajeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjednatele">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam objednatelu</wsdl:documentation>
      <wsdl:input message="tns:GetObjednateleSoapIn" />
      <wsdl:output message="tns:GetObjednateleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrasaObjednatele">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam objednatelu na vlaku</wsdl:documentation>
      <wsdl:input message="tns:GetTrasaObjednateleSoapIn" />
      <wsdl:output message="tns:GetTrasaObjednateleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDopravcePracoviste">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam pracovist dopravcu</wsdl:documentation>
      <wsdl:input message="tns:GetDopravcePracovisteSoapIn" />
      <wsdl:output message="tns:GetDopravcePracovisteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrasaSoupisy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací seznam parametrů trasy vlaků podle filtru</wsdl:documentation>
      <wsdl:input message="tns:GetTrasaSoupisySoapIn" />
      <wsdl:output message="tns:GetTrasaSoupisySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetETDType">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací hodnoty číselníka pro TypeId</wsdl:documentation>
      <wsdl:input message="tns:GetETDTypeSoapIn" />
      <wsdl:output message="tns:GetETDTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetETDKindOfTrain">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací hodnoty číselníka pro KindOfTrainId</wsdl:documentation>
      <wsdl:input message="tns:GetETDKindOfTrainSoapIn" />
      <wsdl:output message="tns:GetETDKindOfTrainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetETDHDVFunction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací hodnoty číselníka pro HDVFunctionId</wsdl:documentation>
      <wsdl:input message="tns:GetETDHDVFunctionSoapIn" />
      <wsdl:output message="tns:GetETDHDVFunctionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetETDBrakePercent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací hodnoty číselníka pro BrakePercentId</wsdl:documentation>
      <wsdl:input message="tns:GetETDBrakePercentSoapIn" />
      <wsdl:output message="tns:GetETDBrakePercentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetETDWayBrakes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací hodnoty číselníka pro WayBrakesId</wsdl:documentation>
      <wsdl:input message="tns:GetETDWayBrakesSoapIn" />
      <wsdl:output message="tns:GetETDWayBrakesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetETDBrakePosition">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací hodnoty číselníka pro BrakePositionId</wsdl:documentation>
      <wsdl:input message="tns:GetETDBrakePositionSoapIn" />
      <wsdl:output message="tns:GetETDBrakePositionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetETDCable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací hodnoty číselníka pro CableId</wsdl:documentation>
      <wsdl:input message="tns:GetETDCableSoapIn" />
      <wsdl:output message="tns:GetETDCableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetETDRollingResistance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací hodnoty číselníka pro RollingResistanceId</wsdl:documentation>
      <wsdl:input message="tns:GetETDRollingResistanceSoapIn" />
      <wsdl:output message="tns:GetETDRollingResistanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetETDVlak">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací jeden ETD vlak pro zadané TRID</wsdl:documentation>
      <wsdl:input message="tns:GetETDVlakSoapIn" />
      <wsdl:output message="tns:GetETDVlakSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetETDVlaky">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vrací kompletní seznam ETD vlaků</wsdl:documentation>
      <wsdl:input message="tns:GetETDVlakySoapIn" />
      <wsdl:output message="tns:GetETDVlakySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="gvdSoap" type="tns:gvdSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://kst.fri.uniza.sk/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://kst.fri.uniza.sk/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProject">
      <soap:operation soapAction="http://kst.fri.uniza.sk/SelectProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjects">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVlaky">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetVlaky" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaBody">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetTrasaBody" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaSpecifikacie">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetTrasaSpecifikacie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaHnacieVozidla">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetTrasaHnacieVozidla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaDopravneDruhy">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetTrasaDopravneDruhy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaKomercneDruhy">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetTrasaKomercneDruhy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDopravcov">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetDopravcov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKalendare">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetKalendare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObecnePoznamky">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetObecnePoznamky" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaDopravcov">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetTrasaDopravcov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaPrestavenia">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetTrasaPrestavenia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaObecPoznamky">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetTrasaObecPoznamky" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDopravneBody">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetDopravneBody" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDopravneUseky">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetDopravneUseky" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrahy">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetDrahy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKolaje">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetKolaje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjednatele">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetObjednatele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaObjednatele">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetTrasaObjednatele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDopravcePracoviste">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetDopravcePracoviste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaSoupisy">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetTrasaSoupisy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDType">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetETDType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDKindOfTrain">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetETDKindOfTrain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDHDVFunction">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetETDHDVFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDBrakePercent">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetETDBrakePercent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDWayBrakes">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetETDWayBrakes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDBrakePosition">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetETDBrakePosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDCable">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetETDCable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDRollingResistance">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetETDRollingResistance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDVlak">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetETDVlak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDVlaky">
      <soap:operation soapAction="http://kst.fri.uniza.sk/GetETDVlaky" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="gvdSoap12" type="tns:gvdSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProject">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/SelectProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjects">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVlaky">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetVlaky" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaBody">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetTrasaBody" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaSpecifikacie">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetTrasaSpecifikacie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaHnacieVozidla">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetTrasaHnacieVozidla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaDopravneDruhy">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetTrasaDopravneDruhy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaKomercneDruhy">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetTrasaKomercneDruhy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDopravcov">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetDopravcov" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKalendare">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetKalendare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObecnePoznamky">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetObecnePoznamky" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaDopravcov">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetTrasaDopravcov" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaPrestavenia">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetTrasaPrestavenia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaObecPoznamky">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetTrasaObecPoznamky" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDopravneBody">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetDopravneBody" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDopravneUseky">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetDopravneUseky" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrahy">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetDrahy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKolaje">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetKolaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjednatele">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetObjednatele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaObjednatele">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetTrasaObjednatele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDopravcePracoviste">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetDopravcePracoviste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasaSoupisy">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetTrasaSoupisy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDType">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetETDType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDKindOfTrain">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetETDKindOfTrain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDHDVFunction">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetETDHDVFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDBrakePercent">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetETDBrakePercent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDWayBrakes">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetETDWayBrakes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDBrakePosition">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetETDBrakePosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDCable">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetETDCable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDRollingResistance">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetETDRollingResistance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDVlak">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetETDVlak" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetETDVlaky">
      <soap12:operation soapAction="http://kst.fri.uniza.sk/GetETDVlaky" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="gvd">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;ZU-FRI-KST 2008, Webová služba, která vrací data z GVD&lt;/b&gt;</wsdl:documentation>
    <wsdl:port name="gvdSoap" binding="tns:gvdSoap">
      <soap:address location="http://poseidon.kst.fri.uniza.sk/kangostabil/apps/export/gvd.asmx" />
    </wsdl:port>
    <wsdl:port name="gvdSoap12" binding="tns:gvdSoap12">
      <soap12:address location="http://poseidon.kst.fri.uniza.sk/kangostabil/apps/export/gvd.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>